<header role="banner">
  <div class="container">
    <div class="univHead">
      <div class="logo">
		<img src="/themes/Custom/niclib/images/anderson.png" alt="Anderson University">
	  </div>
      <nav>
        {{ page.univlinks}}
			</nav>
		</div>
	</div>
</header>

<div class="container">

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
		  <div class="NicLib-Head">
			   {{ page.header }}
		  </div>
		  <div class="mainContent">
			   {{ page.content }}
		  </div>
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.layout-container #}
