  <header class="univHead col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-11">
			<div class="navbar-header navbar-left col-lg-3 col-md-3 col-sm-11 col-xs-11">
				<a class="navbar-brand" href="http://www.anderson.edu" target="_blank">
					<img src="/themes/Custom/niclib/images/anderson.png" alt="Anderson University">
				</a>
			</div>
			<nav class="navbar-right col-lg-9 col-md-9 col-sm-1 col-xs-1">
				<div class="mobile-menu col-sm-1 col-xs-1">
					<button class="glyphicon glyphicon-menu-hamburger"></button>
				</div>
				{{ page.univHead}}
			</nav>
		</div>
  </header>


  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
		<div class="row">
			<div class="NicLib-Head">
				<div class="container">
					{{ page.libHead }}
					<div id="hours"> Today's Hours: <a href="/hours">
						<script src="../../NicDate.js"></script>
						<script type="text/javascript">document.write(NicDate(0));</script> </a>
				</div>
			</div>
			<div class="hiddenMenu">
				<div class="container">
					<div class="aboutMenu nav nav-pills">
						{{ page.hiddenMenu1 }}
					</div>
					<div class="servicesMenu">
						{{ page.hiddenMenu2 }}
					</div>
					<div class="collectionsMenu">
						{{ page.hiddenMenu3 }}
					</div>
					<div class="helpMenu">
						{{ page.hiddenMenu4 }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="mainContent">
				<div class="container">
					<div class="libSearch col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<iframe class="embed-responsive-item" src="/search.html" scrolling="no" frameborder="0"></iframe>
					</div>
					<div class="libButtons col-lg-4 col-md-4 col-sm-12 col-xs-12">
						{{ page.libButtons}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="secondaryContent">
				<!-- Additional Buttons -->
				<div class="container">
					<div class="secondButtons col-lg-9">
						{{ page.secondButtons}}
					</div>
					<div class="secondButtons image-block col-lg-3">
						{{ page.media }}
					</div>
				</div>
			</div>
		</div>
    </div>{# /.layout-content #}
	
  </main>

  {% if page.footer %}
  <hr/>
    <footer role="contentinfo">
		<div class="container">
			<div class="col-lg-3" style="text-align: left;">
				{{ page.footer }}
			</div>
			<div class="col-lg-3">
				{{ page.footer2 }}
			</div>
			<div class="col-lg-3">
				{{ page.footer3 }}
			</div>
			<div class="col-lg-3" style="text-align: right;">
				{{ page.footer4 }}
			</div>
		</div>
    </footer>
  {% endif %}

{# /.layout-container #}
